<h1>Detail order</h1>
<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Datetime</th>
			<th>Pet</th>
			<th>Service</th>
		</tr>
	</thead>
	<tbody>
		<td><%= @order_detail.id %></td>
		<td><%= @order_detail.order.date %></td>
		<td><%= @order_detail.pet.name %></td>
		<td><%= @order_detail.service.name %></td>
	</tbody>
</table>